.form > fieldset {
    width: 315px;
    border: none;
    position: relative;
    padding: 0;
}

.form fieldset {
    border: none;
    padding: 0;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.legend {
    color: white;
    font-family: "Shnobel";
    font-size: 50px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.form ol {
    list-style: none;
    padding: 0;
    margin-bottom: 49px;
}

.form li {
    color: white;
    font-size: 18px;
    counter-increment: item;
    font-family: "SFUI-regular";
    margin-right: auto;
    margin-bottom: 20px;
}

.item:before {
    display: inline-block;
    width: 64px;
    left: -44px;
    top: -10px;
    color: white;
    font-family: "Shnobel";
    font-size: 44px;
    content: counter(item) ".";
    position: absolute;
}

fieldset:disabled .item:before {
    visibility: hidden;
}

.form fieldset:disabled div {
    color: rgba(255, 255, 255, .5);
}

.form fieldset:disabled input {
    background: rgba(255, 255, 255, .5);
}

.form fieldset:disabled input[type="checkbox"] {
    border: none;
    visibility: visible;
    position: absolute;
    left: -34px;
}

.form fieldset input[type="checkbox"] {
    visibility: hidden;
}

.item {
    position: relative;
    margin-bottom: 14px;
}

@media screen and (max-width: 719px) {
    .legend {
        font-size: 27px;
        width: 100%;
    }

    .item:before {
        color: white;
        font-family: "SFUI-regular";
        content: counter(item) ".";
        width: auto;
        left: 0;
        font-size: 18px;
        margin-right: 4px;
        position: relative;
        top: 0;
    }

    .item {
        text-align: center;
    }


    .form fieldset:disabled input[type="checkbox"] {
        border: none;
        visibility: visible;
        position: absolute;
        left: 20px;
    }
}
