.final {
    width: 100%;
    height: 100%;
    background: no-repeat top url("../../assets/man.svg"), linear-gradient(rgba(255, 255, 255, 0) 70vmin, #D78DA4 30vmin);
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-family: "Shnobel";
    color: #fff;
    width: 269px;
    height: 239px;
    text-align: center;
}

.text .travel {
    font-size: 50px;
}

.text .near {
    font-size: 100px;
}

.title {
    text-decoration: line-through;
    font-size: 50px;
    font-family: "Shnobel";
    color: #7F4156;
}


@media screen and (max-width: 719px) {
    .final {
        background: none;
    }
}
